<footer id="footer">
  <div class="footer-top justify-content-center">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>OBSERVATORIO DE MOVILIDAD Y ACCESIBILIDAD DE TUNJA<span>.</span></h3>
         
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <p>
            UPTC <br>
            Tunja<br><br>
            <strong>Telefono:</strong> +57 311 589 5265<br>
            <strong>Correo:</strong> omat.tunja@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
  
          <div class="social-links mt-3">
            <a href="https://www.facebook.com/SeguridadvialTunja?mibextid=ZbWKwL" class="facebook"><i
                class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/omat_tunja/" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
  
          <div class="copyright">
            &copy; Copyright <strong><span>OMAT</span></strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </div>


</footer><!-- End Footer -->
